{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Messages</h2>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            {% if contacts %}
            <div class="list-group">
                {% for contact in contacts %}
                <a href="{% url 'viewconversation' contact.id %}" class="list-group-item">
                    <h5>{{ contact.fullname }}</h5>
                    <p>{{ contact.email }}</p>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <p>No messages yet. Connect with alumni to start messaging!</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

